

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) { 
     
}
.about-intro img{
	 background: none;
}

.page-title.page-login { 
	background: url('../images/bg-login 1024.png');
	 padding: 60px 0px;
	 background-size: contain; 
    background-attachment: fixed; 
	 
	color: #f7f7f7;
}
 
.login-row.page-login{
	padding:0px;
}
.page-title  h4 {
	font-weight: bold;
	color: #f7f7f7;
}

.col-md-12.m-property-detail{
		padding:0px;
}

.centered-box .social-media li.m-kecak-sosial{
	background:#ee751e !important;
	
}
.centered-box .social-media li.m-kecak-sosial a{
	color:#f7f7f7;
}

p.copyright.m-kecak-copy{
    margin-top: 20px;
    color: #080808;
}

.m-detail-room{
	background: url('../images/list_hotel_1920.png');
	background-size: 1262px 400px;
	background-attachment: fixed;
}
.m-title-about-us{
	background: url('../images/header tentang kami 1920.png');
	background-size: 1262px 400px;
	background-attachment: fixed;
}

.m-faq li{
	display: contents;
}
.policy p{
	text-align: justify;
    text-justify: inter-word;
}
.contact-box col-sm-10{
	margin-left:10px;
}
.contact-box col-sm-2{
	padding:0px;
}

.next-step-kiri{
	margin-top:5px;
	height:10px;
	border-width:5px;  
    border-style:dashed;
	border-left:none;
	border-right:none;
	border-bottom:none;
}

.next-step-kanan{
	margin-top:5px;
	height:10px;
	border-width:5px;  
    border-style:dashed;
	border-left:none;
	border-right:none;
	border-bottom:none;
}

.p-about-intro p{
	 text-align: justify;
    text-justify: inter-word;
}

.m-register-stap img {
	width:85px;
	height:85px;
}
/*------------------------------------------------------*/
/*RESPONSIVE DESIGN*/


/*IPAD MINI*/
@media only screen and (max-width: 768px) {
	.page-title.page-login { 
		background: url('../images/bg-login 768.png');
		background-size: contain;
		padding: 0px; 
		background-size: 768px 90px;
		color: #f7f7f7;
	}
	.login-row.page-login{
		padding:0px;
	}
	.page-title  h4 {
		font-weight: bold;
		color: #f7f7f7;
	}
	.img-loading-listing{
		width:350px;
		height:100px;
	}
	.col-md-12.m-property-detail{
		padding:0px;
	}
	
	.col-md-12.m-property-detail{
		padding:0px;
	}
	
	p.copyright.m-kecak-copy{
		margin-top: 20px;
		color: #080808;
	}
	.m-deals-title{
		display:block;
	}
	.hot-deals .nav-tabs{
		margin-left:185px;
	}
	.m-contact-box col-sm-8{
		margin-top: -60px;
		margin-left: 50px;
	}
}

/*IPAD MINI*/
@media only screen and (max-width: 667px) {
	 .page-title.page-login { 
		background: url('../images/bg-login 768.png');
		background-size: contain;
		padding: 0px; 
		background-size: 680px 90px;
		color: #f7f7f7;
	}
	.login-row.page-login{
		padding:0px;
	}
	.page-title  h4 {
		font-weight: bold;
		color: #f7f7f7;
	}
	
	/*form search listing*/
	.m-kecak-listing{
		padding:0px;
	}
	.m-search{
		display:none;
	}
	.loading-animation span {
		left: -25px;
	}
	.img-loading-listing{
		width:350px;
		height:100px;
	}
	.col-md-12.m-property-detail{
		padding:0px;
	}
	
	p.copyright.m-kecak-copy{
		margin-top: 20px;
		color: #080808;
	}
	.m-deals-title{
		display:block;
	}
	.hot-deals .nav-tabs{
		margin-left:165px;
	}
	.m-hot-deals-rate{
		font-size:12px;
	}
	
	.m-contact-box col-sm-8{
		margin-top: -60px;
		margin-left: 50px;
	}
}

/*IPAD MINI*/
@media only screen and (max-width: 568px) {
	 .page-title.page-login { 
		background: url('../images/bg-login 768.png');
		background-size: contain;
		padding: 0px; 
		background-size: 575px 90px;
		color: #f7f7f7;
	}
	.login-row.page-login{
		padding:0px;
	}
	.page-title  h4 {
		font-weight: bold;
		color: #f7f7f7;
	}
	
	/*form search listing*/
	.m-kecak-listing{
		padding:0px;
	}
	.m-search{
		display:none;
	}
	.loading-animation span {
		left: -25px;
	}
	.img-loading-listing{
		width:350px;
		height:100px;
	}
	.col-md-12.m-property-detail{
		padding:0px;
	}
	
	p.copyright.m-kecak-copy{
		margin-top: 20px;
		color: #080808;
	}
	.m-deals-title{
		display:block;
	}
	.hot-deals .nav-tabs{
		margin-left:110px;
	}
	.m-hot-deals-rate{
		font-size:12px;
	}
	
	.m-contact-box col-sm-8{
		margin-top: -60px;
		margin-left: 50px;
	}
}


/*IPHONE 6+*/
@media only screen and (max-width: 414px) {
	 .page-title.page-login { 
		background: url('../images/bg-login 768.png');
		background-size: contain;
		padding: 0px;  
		background-size: 430px 145px;
		color: #f7f7f7;
	}
	.login-row.page-login{
		padding:0px;
	}
	.page-title  h4 {
		font-weight: bold;
		color: #f7f7f7;
	}
	
	/*form search listing*/
	.m-kecak-listing{
		padding:0px;
	}
	.m-search{
		display:none;
	}
	.loading-animation span {
		left: -25px;
	}
	.img-loading-listing{
		width:311px;
		height:100px;
	}
	
	.col-md-12.m-property-detail{
		padding:0px;
	}
	
	p.copyright.m-kecak-copy{
		margin-top: 20px;
		color: #080808;
	}
	  
	.hot-deals .nav-tabs{
		margin-left:25px;
	}
	.m-deals-title{
		display:block;
	}
	.m-hot-deals-rate{
		font-size:12px;
	}
	
	.m-contact-box col-sm-8{
		margin-top: -60px;
		margin-left: 50px;
	}
}


/*IPHONE 6*/
@media only screen and (max-width: 375px) {
	 .page-title.page-login { 
		background: url('../images/bg-login 400.png');
		background-size: contain;
		padding: 0px; 
		background-size: 360px 145px;
		color:#f7f7f7;
	}
	.login-row.page-login{
		padding:0px;
	}
	.page-title  h4 {
		font-weight: bold;
		color: #f7f7f7;
	}
	
	/*form search listing*/
	.m-kecak-listing{
		padding:0px;
	}
	.m-search{
		display:none;
	}
	.loading-animation span {
		left: -25px;
	}
	.img-loading-listing{
		width:375px;
		height:100px;
	}
	.col-md-12.m-property-detail{
		padding:0px;
	}
	
	p.copyright.m-kecak-copy{
		margin-top: 20px;
		color: #080808;
	}
	.m-deals-title{
		display:block;
	}
	.hot-deals .nav-tabs{
		margin-left:5px;
	} 
	.m-hot-deals-rate{
		font-size:12px;
	}
	
	.m-contact-box col-sm-8{
		margin-top: -60px;
		margin-left: 50px;
	}
}

/*Galaxy s5*/
@media only screen and (max-width: 360px) { 
	.m-deals-title{
		display:none;
	}
	.hot-deals .nav-tabs{
		margin-left:95px;
	} 
	.m-hot-deals-rate{
		font-size:12px;
	}
	
	.m-contact-box col-sm-8{
		margin-top: -60px;
		margin-left: 50px;
	}
	
	.m-contact-box col-sm-8{
		margin-top: -60px;
		margin-left: 50px;
	}
}

/*IPHONE 5*/
@media only screen and (max-width: 320px) { 
	 .page-title.page-login { 
		background: url('../images/bg-login 320.png');
		background-size: contain;
		padding: 0px; 
		background-size: 320px 175px;
		background-repeat: no-repeat;
		color: #f7f7f7; 
	}
	.login-row.page-login{
		padding:0px;
	}
	.page-title  h4 {
		font-weight: bold;
		color: #f7f7f7; 
	}
	
	/*form search listing*/
	.m-kecak-listing{
		padding:0px;
	}
	.m-search{
		display:none;
	}
	.loading-animation span {
		left: -25px;
	}
	
	.img-loading-listing{
		width:280px;
		height:100px;
	}
	
	.col-md-12.m-property-detail{
		padding:0px;
	}
	
	p.copyright.m-kecak-copy{
		margin-top: 20px;
		color: #080808;
	}
	
	.m-deals-title{
		display:none;
	}
	.hot-deals .nav-tabs{
		margin-left:23%;
	}
	.m-paypartner{
		text-align: -webkit-auto;
		margin-left: 18px;
	}
	.m-hot-deals-rate{
		font-size:12px;
	}
	
	.modify-hotel {
		background: url('../images/list_hotel_1920.png'); 
		background-size: 320px 175px;
		background-attachment: fixed;
	}
	
	.m-contact-box col-sm-8{
		 margin-top: -50px;
		margin-left: 50px;
	} 
}



